PORT=5001
MONGO_URI=mongodb://localhost:27017/lifelink
JWT_SECRET=your_super_secret_jwt_key
JWT_REFRESH_SECRET=your_super_secret_jwt_refresh_key

# SMTP Config (for sending verification emails)
SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=your_smtp_email
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=noreply@lifelink.com
FROM_NAME=LifeLink
